.offer
    background: #F8F8F8
    border: 1px solid #F3F3F3
    box-shadow: 4px 4px 15px rgba(177, 177, 177, 0.2)
    border-radius: 8px
    padding: 25px
    position: relative
    display: flex
    flex-direction: column
    +r($wide)
        padding: 15px
.offer__header
    display: flex
    +r($wide)
        flex-direction: column
    +r($mobile)
        padding-right: 40px
    .offer__direction
        max-width: 410px
        +r(1400)
            max-width: 300px
.offer__type
    font-weight: normal
.offer__direction
    font-weight: bold
.offer__type, .offer__direction
    font-size: 23px
    +r($tablet)
        font-size: 20px
.offer__body
    margin-top: 10px
    margin-bottom: 10px
    .offer__direction
        font-size: 21px
        +r($tablet)
            font-size: 17px
.offer__date
    // margin-left: 30px
    font-weight: bold
    font-size: 15px
    color: $headerColor
    // +r($wide)
    //     margin-left: 0
    //     margin-top: 5px
.offer__btn-details
    font-size: 13px
    max-width: 140px
    padding-left: 5px
    padding-right: 28px
    position: absolute
    font-weight: 500
    top: 25px
    right: 25px
    +r($wide)
        right: 15px
    +r($mobile)
        max-width: 30px
        min-width: 30px
        height: 30px
        color: $blueColor
        overflow: hidden
        top: 15px
    &:focus
        +r($mobile)
            color: $blueColor
    &::after
        content: ''
        display: block
        position: absolute
        top: 13px
        right: 6px
        width: 18px
        height: 18px
        background: url(/images/details-ic_blue.svg) no-repeat center / 100% auto
        +r($mobile)
            top: 0
            right: 0
            width: 100%
            height: 100%
            background-size: 18px
.offer__btn-companies
    font-weight: bold
    font-size: 17px
    color: $blueColor
    background: none
    border: none
    &::after
        content: '+'
        font-weight: inherit
        font-size: inherit
        font-family: inherit
        color: inherit
        margin-left: 7px

.offer__btn-edit
    font-size: 13px
    width: max-content
    font-weight: 500
    height: 30px

.offer__desc
    font-weight: 400
    font-size: 17px
    line-height: 23px
    color: $headerColor

.offer__footer
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-top: auto
    +r($tablet)
        flex-direction: column
    .offer__desc
        padding-right: 15px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        color: $fontColor
        +r($tablet)
            white-space: normal
        &:hover
            white-space: initial
            overflow: initial
            text-overflow: initial
.offer__actions
    display: flex
    align-items: center
    margin-left: auto
    width: max-content
    max-width: 100%
    +r($tablet)
        margin-top: 10px
    * + *
        margin-left: 15px
.offer__cancel, .offer__accept, .offer__edit, .offer__download
    font-weight: 500
    font-size: 17px
    color: $blueColor
    background: none
    border: none
    position: relative
    width: max-content
    text-decoration: none
    &::before
        content: ''
        position: absolute
        top: 1px
        height: 100%
        background-position: center
        background-size: 100% auto
        background-repeat: no-repeat
.offer__cancel
    padding-left: 30px
    filter: grayscale(1)
    &::before
        width: 16px
        left: 0
        background-image: url(/images/close-ic_white.svg)
        filter: url(#solid)
.offer__edit
    padding-left: 30px
    filter: grayscale(1)
    &::before
        width: 16px
        left: 0
        background-image: url(/images/edit-ic.webp)
.offer__accept
    padding-left: 30px
    &::before
        width: 16px
        left: 0
        background-image: url(/images/check_blue.svg)
.offer__download
    padding-right: 30px
    &::before
        width: 16px
        right: 0
        background-image: url(/images/arrow_blue_slider.svg)

.offer_open_details
    .offer__btn-details
        &::after
            background-image: url(/images/close-ic_white.svg)
    .offer-details
        display: block
.offer_open_companies
    .offer__btn-companies
        &::after
            content: '-'
    .offer-companies
        display: block

.offer_performed
    border-color: green
